{% include 'header.html' %}
			<div id="itineraries" class="main">
{% include 'sidebar.html' %}
				<div class="content">
					<header class="content-header">
						<h1 class="title">ITINERARIES</h1>
						<p class="sub">FROM <a href="#">MANILA</a> TO <a href="#">BORACAY</a></p>
					</header>
					<section id="itineraries-list">
						<ul>
							<li>
								<div class="item">
									<div class="days">
										<h1>6</h1>
										<h3>DAYS</h3>
									</div>
									<div class="spots">
										<h1>9</h1>
										<h3>TOURIST SPOTS</h3>
									</div>
									<div class="transpo">
										<h1>X</h1>
										<h3>TRANSPORTATION</h3>
									</div>
									<div class="price">
										<h3>PhP</h3>
										<h2>3,750</h2>
										<small>per head</small>
									</div>
									<div class="vote">
										<button class="upvote">89</button>
										<button class="downvote">12</button>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="byline">by <a href="#">Awesome</a></div>
							</li>
							<li>
								<div class="item">
									<div class="days">
										<h1>7</h1>
										<h3>DAYS</h3>
									</div>
									<div class="spots">
										<h1>10</h1>
										<h3>TOURIST SPOTS</h3>
									</div>
									<div class="transpo">
										<h1>X</h1>
										<h3>TRANSPORTATION</h3>
									</div>
									<div class="price">
										<h3>PhP</h3>
										<h2>16,950</h2>
										<small>per head</small>
									</div>
									<div class="vote">
										<button class="upvote">69</button>
										<button class="downvote">69</button>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="byline">by <a href="#">Awesome</a></div>
							</li>
						</ul>
					</section>
				</div>
				<div id="bgcolumn-itineraries"></div>
			</div>
{% include 'footer.html' %}